@import url("https://fonts.cdnfonts.com/css/work-sans?styles=18610,18612,18607,18608,18609,18611,18605,18606,18604");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: black;
}
.section {
  display: flex;
  height: 100vh;
}
.layer1 {
  width: 40%;
  display: block;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  opacity: 0.6;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1610641564155-8ea9845579dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHRvZG98ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60");
}
.container {
  width: 60%;
  background-color: #0c1a1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  margin-top: 30px;
  height: auto;
  padding: 40px 20px 40px 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  color: #6acfc7;
  background-color: #102222;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
form {
  display: flex;
  margin-top: 10px;
}
form input {
  width: 60%;
  border: 0px solid #6acfc7;
  outline: none;
  height: 40px;
  padding: 4px;
  background-color: #ff9d6829;
  font-size: 14px;
  border-radius: 6px;
  color: white;
}
form button {
  height: 40px;
  width: 100px;
  border-radius: 8px;
  outline: none;
  margin-left: 10px;
  padding: 3px 6px 3px 6px;
  border: 1px solid transparent;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background-color: #6acfc771;
  color: white;
  cursor: pointer;
}
.stats {
  display: flex;
}
.stats li {
  list-style: none;
  display: flex;
  margin: 20px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}
.stats li .task {
  background: #ff9d6829;
  border-radius: 2px;
  padding: 5px;
}
.stats li .count {
  background: #6acfc771;
  border-radius: 2px;
  padding: 5px;
  margin-left: 2px;
}
.footer {
  font-size: 12px;
  color: white;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}
.todos li {
  list-style: none;
  background-color: #bae8e42a;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 6px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 15px;
}
.todos li div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.todos li.complete {
  background-color: palegoldenrod;
  text-decoration: line-through;
}
input[type="checkbox"] {
  background-color: transparent;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #102222;
  border-radius: 100%;
  display: grid;
  place-content: center;
  appearance: none;
  transition: 0.2s ease-in;
}
input[type="checkbox"]::before {
  background-color: rgb(110, 192, 178);
  transform: scale(0);
  transition: 0.2s ease-in;
}
input[type="checkbox"]:checked {
  background-color: rgb(110, 192, 178);
  border-color: rgb(110, 192, 178);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.todos button {
  border-radius: 6px;
  border: 0px solid;
  padding: 4px 6px;
  background-color: rgb(74, 3, 3);
  color: white;
}
